@media (min-width: 1024px) and (orientation: landscape) {
  header.header {
    background-image: url(/assets/images/banner.jpg);
    background-size: 100%;
    background-position: 0% 20%;
    min-height: 200px;
  }

  .site {
    margin-left: 2em;
    margin-right: 2em;
  }

  div.flex_container section.maincontent:only-child {
    margin-right: 0;
  }

  div.flex_container section.maincontent {
    flex: 1 0 0;
    min-width: 0;
    display: flex;
    margin-right: 1em;
    border: 2px solid lightgray;
    padding: 1em;
  }

  div.flex_container section.maincontent article {
    padding: 0;
    width: 100%;
  }

  div.flex_container aside {
    flex: 0 1 0;
    display: flex;
    padding: 1em;
    background-color: rgb(241, 241, 241);
  }


  .posts .excerpt {
    display: none;
  }

  .posts > article {
    border: 1px solid lightgray;
    padding: 0.5em;
    transition: background-color 400ms linear;
  }

  .posts > article:hover {
    background-color: #E9F1F1;
  }
}