* {
  margin: 0;
  padding: 0;
}

body {
  font: 13.34px Helvetica, Arial, sans-serif;
/*
  font-family: "RobotoDraft";
  font-weight: 300;
*/
}

core-animated-pages {
  width: 98%;
  height: 90%;
/*  -webkit-user-select: none;*/
  overflow-x: hidden;
}

core-animated-pages#pages {
  font-size: 115%;
  line-height: 1.5em;
}

core-animated-pages > * {
  border-radius: 5px;
  background-color: white;
  bottom: auto !important;
  padding: 5px;
}

core-animated-pages h1 {
  margin-bottom: 1em;
}

core-animated-pages p {
  margin: 1em 0;
}

body /deep/ core-toolbar {
  background-color: #03a9f4;
  color: #fff;
}

core-menu {
  color: #01579b;
  margin: 10px 0 0 0;
}

core-submenu {
  font-size: 16px;
}

core-submenu::shadow core-item::shadow core-icon {
  margin: 0 0 0 1em !important;
}

core-submenu::shadow core-item::shadow div#label {
  margin: 0 0 0 5px !important;
}

core-menu > paper-item {
  transition: all 300ms ease-in-out;
}

paper-item a {
  text-decoration: none;
  color: currentcolor;
  margin-left: 5px;
}

core-menu > paper-item.core-selected {
  background: #e1f5fe;
}

.meta {
  color: #aaa;
}

/*****************************************************************************/

/*
/* Posts
/*
/*****************************************************************************/

/* standard */

.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}
.post ul,
.post ol {
  margin-left: 1.35em;
}
.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}
.post pre code {
  border: none;
}
/* terminal */

.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}
.post pre.terminal code {
  background-color: #333;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

@media all and (max-width: 480px) {
  core-animated-pages {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .posts > article {
    border: 1px solid lightgray;
    padding: 0.5em;
    margin-bottom: 0.5em;
  }
}