---
layout: default
title: IanMcCall.codes
---

<ul>
  {% for repo in site.github.public_repositories %}
  <li>
      <span>
          {% if repo.fork %}
          <span class = "octicon octicon-repo-forked"><svg version="1.1" width="16" height="16" viewBox="0 0 10 16" class="octicon octicon-repo-forked" aria-hidden="true"><use xlink:href="#repo-forked" /></svg></span>
          {% else %}
          <span class="octicon octicon-repo"><svg version="1.1" width="16" height="16" viewBox="0 0 12 16" class="octicon octicon-repo" aria-hidden="true"><use xlink:href="#repo" /></svg></span>
          {% endif %}
          <a href="{{repo.html_url}}">{{repo.full_name}}</a>
          <span class="update_time" title="Last updated"> - {{repo.updated_at}}</span>
      </span>
      <span class="description">{{repo.description}}</span>
  </li>
  {% endfor %}
</ul>