<div class="contact">
    <p>
      Ian McCall<br>
      Sr. Software Engineer @ tronc<br>
      Code Monkey<br>
      ian@ianmccall.codes
    </p>
  </div>
  <div class="contact">
    <p>
      <a href="https://github.com/ianmcodes"><amp-img src="/assets/icons/iconmonstr-github-5-icon-16.png" alt="Github">github.com/ianmcodes</a><br />
      <a href="https://twitter.com/ianmccallcodes"><amp-img src="/assets/icons/iconmonstr-twitter-5-icon-16.png" alt="Twitter">@ianmccallcodes</a><br>
      <a href="https://www.linkedin.com/in/ianmccallcodes"><amp-img src="/assets/icons/iconmonstr-linkedin-5-icon-16.png" alt="Linkedin">/ianmccallcodes</a>
    </p>
  </div>
