<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-R3H8555BJ2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-R3H8555BJ2');

  // Track extrenal link clicks
  document.addEventListener('click', function trackClick(evt) {
    var originReg = new RegExp('^' + location.origin);
    var target = evt.target.closest('a') || {};
    var url = target.href;
    if (url && !originReg.test(url)) {
      console.log(url);
      event.preventDefault();
      setTimeout(function() { document.location = url; }, 1000);
      gtag('send', 'event', 'outbound', 'click', url, {
        'transport': 'beacon',
        'hitCallback': function() { document.location = url; }
      });
      return false;
    }
  });
</script>
<!-- Twitter universal website tag code -->
<script>
!function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
},s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
// Insert Twitter Pixel ID and Standard Event data below
twq('init','o4828');
twq('track','PageView');
</script>
<!-- End Twitter universal website tag code -->