i[class|="custom_icon"] {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-size: 48px 48px;
}

i.custom_icon-github {
  background-image: url(/assets/icons/iconmonstr-github-5.svg);
}

i.custom_icon-linkedin {
  background-image: url(/assets/icons/iconmonstr-linkedin-5.svg);
}

i.custom_icon-twitter {
  background-image: url(/assets/icons/iconmonstr-twitter-5.svg);
}

i.custom_icon-trophy {
  background-image: url(/assets/icons/iconmonstr-trophy-12.svg);
}

i.custom_icon-text_file {
  background-image: url(/assets/icons/iconmonstr-file-20.svg);
}

i.custom_icon-script {
  background-image: url(/assets/icons/iconmonstr-script-4.svg);
}

i.custom_icon-javascript {
  background-image: url(/assets/icons/iconmonstr-code-5.svg);
}

i.custom_icon-html {
  background-image: url(/assets/icons/iconmonstr-code-2.svg);
}

i.custom_icon-camera {
  background-image: url(/assets/icons/iconmonstr-photo-camera-2.svg);
}

i.custom_icon-youtube {
  background-image: url(/assets/icons/iconmonstr-youtube-10.svg);
}

/* @media (min-width: 2560px) {
  i[class|="custom_icon"] {
    width: 128px;
    height: 128px;
    background-size: 128px 128px;
  }
} */
