            <div class="contact">
              <p>
                Ian McCall<br>
                Development Manager @ Brandify<br>
                Code Monkey<br>
                ian@ianmccall.codes
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/dapuck"><span style="color: black;" class="octicon octicon-mark-github"></span>github.com/dapuck</a><br />
                <a href="https://twitter.com/ianmccallcodes"><img src="/assets/icons/iconmonstr-twitter-5-icon-16.png">@ianmccallcodes</a><br>
                <a href="https://www.linkedin.com/in/ianmccallcodes"><img src="/assets/icons/iconmonstr-linkedin-5-icon-16.png">/ianmccallcodes</a>
              </p>
            </div>