            <div class="contact">
              <p>
                Ian McCall<br>
                Sr. Software Engineer @ Tribune Publishing<br>
                Code Monkey<br>
                ian@ianmccall.codes
              </p>
            </div>
            <div class="contact">
              <a href="https://github.com/ianmcodes"><img src="/assets/icons/iconmonstr-github-5-icon-16.png" alt="Github"/><span>github.com/ianmcodes</span></a>
              <a href="https://twitter.com/ianmccallcodes"><img src="/assets/icons/iconmonstr-twitter-5-icon-16.png" alt="Twitter logo"/><span>@ianmccallcodes</span></a>
              <a href="https://www.linkedin.com/in/ianmccallcodes"><img src="/assets/icons/iconmonstr-linkedin-5-icon-16.png" alt="Linkedin logo"/><span>/ianmccallcodes</span></a>
            </div>
