/**/
/* Colors
/**/
:root {
  --main-color: white;
  --punch-color: #97B412;
  --complement-color: #ABAD9A;
  --border: 1px solid black;
}

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

/*html, body { height: 100%; }*/

body {
  background-color: var(--complement-color);
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

/* h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
} */

h1 {
  margin-bottom: 1em;
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

p { margin: 1em 0; }

/* a         { color: #00a; }
a:hover   { color: black; }
a:visited { color: #a0a; } */

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts .excerpt {
  display: none;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  /* color: #6f6f6f; */
  font-family: Monaco, "Courier New", monospace;
  /* font-size: 80%; */
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.rounded {
  border-radius: 10px;
  overflow: hidden;
}

.flex_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  width: 100%;
}

.site {
  font-size: 115%;
  text-align: left;
  margin: 2em 0.5em 2em 0.5em;
  line-height: 1.5em;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

/* header h1.title {
  margin-top: .5em;
  margin-left: .5em;
} */

header .title a {
  display: block;
  width: 300px;
  height: 50px;
  margin: auto;
}

nav ul {
  border: var(--border);
  background-color: var(--punch-color);
}

nav ul li {
  display: inline-block;
  flex-grow: 1;
  text-align: center;
  /* background-color: #CC2958; */
  border-right: var(--border);
  line-height: 2em;
  font-size: 125%;
}

nav ul li a {
  display: inline-block;
  width: 100%
}

nav ul li:last-child {
  border-right: none;
}

/* nav ul li:hover {
  background-color: #5B2999;
} */

nav a,  nav a:visited {
  color: black;
}

.title {
  display: block;
}

.title a {
  color: black;
  background-color: var(--main-color);
}

.title a:hover {
  color: black;
}

.header a.extra {
  margin-left: 1em;
}

.header a.extra:hover {
  color: black;
}

.footer {
  font-size: 100%;
  border: var(--border);
  margin-top: 0.5em;
  overflow: hidden;
  background-color: white;
  padding-left: 0.5em;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  display: flex;
  min-height: 48px;
  align-items: center;
}

.footer .contact a img {
  vertical-align: middle;
  /* height: 16px; */
}

.footer .contact a span {
  line-height: 32px;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

section.maincontent {
  background-color: white;
  width: 100%;
  padding: 1em;
}

.maincontent article {
  padding: 5px;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

pre.highlight {
  overflow: auto;
}

.post-title {
  margin-bottom: 0;
}

.post-subtitle:empty {
  display: none;
}

.post-subtitle {
  margin: .25em 0 .25em 0;
}

/* standard */
.post pre {
  border: var(--border);
  background-color: white;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: var(--border);
  background-color: white;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: var(--border);
  background-color: black;
  color: white;
}

.post pre.terminal code {
  background-color: black;
}

.post img {
  max-width: 100%;
}

/*****************************************************************************/
/*
/* Resume
/*
/*****************************************************************************/
div#resume img {
  width: 100%;
}

@media (min-width: 500px) {
  div#resume img {
    width: auto;
  }
}

/*****************************************************************************/
/*
/* Responsive
/*
/*****************************************************************************/
aside {
  display:none;
  border: var(--border);
  background-color: white;
}

ul.no_bull {
  list-style: none;
  padding-left: 0px;
}

.taglist {
  margin-left: 5em;
}

.taglist > .tag {
  background-color: #ABAD9A;
  color: black;
  padding: 0.25em;
  border-radius: 5px;
}