---
layout: default
title: Resume
sections:
  - name: Work
    file: parts/work.md
    hash: one
  - name: Education
    file: parts/education.md
    hash: two
  - name: Technology
    file: parts/technology.md
    hash: three


include_in_menu: true
order: 3
menu_name: Resume

norepos: true
---

<!--
{% raw %}
<core-animated-pages id="pages" valueattr="hash" selected="{{route}}" transitions="slide-from-right">
{% endraw %}
-->
  <div id="resume">
  {% for p in page.sections %}
    <article hash="{{p.hash}}" layout vertical>
      {% capture pcontent %}{% include_relative {{p.file}} %}{% endcapture %}
      {{ pcontent | markdownify }}
    </article>
  {% endfor %}
  </div>
<!--</core-animated-pages>-->
