<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <!-- Custom CSS -->
    <style type="text/css">
    {% include main.min.css %}
    </style>
    <link rel="stylesheet" media="(min-width: 1024px) and (orientation: landscape)" href="/css/main-1024.css">
    <link rel="stylesheet" media="(min-width: 1440px) and (orientation: landscape)" href="/css/main-1440.css">
    <style type="text/css">
    {% include custom_icons.min.css %}
    </style>

    <script type="text/javascript" defer src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" defer src="/bower_components/underscore/underscore-min.js"></script>
    <script type="text/javascript" defer src="/js/swinit.js" data-service-worker="/sw.js"></script>
    <script type="text/javascript" defer src="/js/deferstyles.js"></script>
    {% if page.head_js %}
    {% for js in page.head_js %}
    <script type="text/javascript" defer src="{{ js }}"></script>
    {% endfor %}
    {% endif %}
    {% unless page.norepos %}
    <style>.octicon{display:inline-block;vertical-align:text-top;fill:currentColor}</style>
    <script type="text/template" id="repo_tmpl">
        <% _.each(repos, function (repo) { %>
        <li>
            <span>
                <% if (repo.fork) { %>
                <span class = "octicon octicon-repo-forked"><svg version="1.1" width="16" height="16" viewBox="0 0 10 16" class="octicon octicon-repo-forked" aria-hidden="true"><use xlink:href="#repo-forked" /></svg></span>
                <% } else { %>
                <span class="octicon octicon-repo"><svg version="1.1" width="16" height="16" viewBox="0 0 12 16" class="octicon octicon-repo" aria-hidden="true"><use xlink:href="#repo" /></svg></span>
                <% } %>
                <a href="<%= repo.html_url %>"><%- repo.full_name %></a>
                <span class="update_time" title="Last updated"> - <%= repo.updated_at %></span>
            </span>
            <span class="description"><%- repo.description %></span>
        </li>
        <% }); %>
    </script>
    <script type="text/javascript" defer src="/js/repos.js"></script>
    {% endunless %}
</head>

<body>
    <div style="display:none;">
        {% include sprite.octicons.svg %}
    </div>
    <div class="site">
        <header class="header rounded">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
        </header>
        <nav>
            <ul class="flex_container">
                <li><a href="/">Home</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/posts/">Blog</a></li>
                <li><a href="/brewing/">Brewing</a></li>
                <li><a href="/resume/">Resume</a></li>
            </ul>
        </nav>

        <div class="flex_container">
            <section class="maincontent rounded">
                {{ content }}
            </section>
            {% unless page.norepos %}
            <aside id="repo-container" class="rounded" style="display:none;">
                <ul id="list-o-repos" class="no_bull"></ul>
            </aside>
            {% endunless %}
        </div>

        <footer class="footer rounded">
          {% include footer.html %}
        </footer>
    </div>

    <script>
      (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
          (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
      })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

      ga('create', 'UA-29762064-2', 'auto');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');
    </script>
</body>
</html>