<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    
    <link rel="stylesheet" href="/css/syntax.css">

    {% if page.head_js %}
    {% for js in page.head_js %}
    <script type="text/javascript" src="{{ js }}"></script>
    {% endfor %}
    {% endif %}
    
    <script type="text/javascript" src="/bower_components/webcomponentsjs/webcomponents.js"></script>
<!--    <script type="text/javascript" src="/bower_components/page/page.js"></script>-->
    
    <link rel="import" href="/bower_components/core-scaffold/core-scaffold.html">
    <link rel="import" href="/bower_components/core-toolbar/core-toolbar.html">
    <link rel="import" href="/bower_components/core-menu/core-menu.html">
    <link rel="import" href="/bower_components/core-menu/core-submenu.html">
    <link rel="import" href="/bower_components/paper-item/paper-item.html">
    <link rel="import" href="/bower_components/core-icon/core-icon.html">
    <link rel="import" href="/bower_components/core-icons/communication-icons.html">
    <link rel="import" href="/bower_components/core-icons/social-icons.html">
    <link rel="import" href="/bower_components/core-animated-pages/core-animated-pages.html">
    <link rel="import" href="/bower_components/core-animated-pages/transitions/slide-from-right.html">
    <link rel="import" href="/bower_components/core-ajax/core-ajax.html">
    {% if page.head_import %}
    {% for imp in page.head_import %}
    <link rel="import" href="{{ imp }}">
    {% endfor %}
    {% endif %}
    <link rel="stylesheet" href="/css/polymer_test.css" shim-shadowdom>
  </head>
  <body unresolved fullbleed>
    <template is="auto-binding" id="main">
      <core-scaffold id="scaffold">
        <nav>
          <core-toolbar><span>Menu</span></core-toolbar>
          {% raw %}
          <core-menu valueattr="url" selected="{{ menu_page }}" on-core-select="{{menuItemSelected}}">
          {% endraw %}
            {% assign menu_pages = site.pages | where:"include_in_menu",true | sort: "order" %}
            {% for p in menu_pages %}
            {% if p.sections and p.url == page.url  %}
            <core-submenu valueattr="hash"  hash="{{ forloop.index }}" url="{{ p.url }}"
                          {% raw %} 
                          selected="{{route}}" on-core-select="{{menuItemSelected}}" 
                          {% endraw %}
                          icon="label-outline" label="{{ p.menu_name }}">
              {% for s in p.sections %}
              <paper-item hash="{{ s.hash }}" noink>
                <core-icon icon="label"></core-icon>
                <a href="#{{ s.hash }}">{{ s.name }}</a>
              </paper-item>
              {% endfor %}
            </core-submenu>
            {% else %}
              {% if p.menu_name == 'Home' and p.url == page.url %}
            <core-submenu valueattr="hash" hash="{{ forloop.index }}" url="{{ p.url }}"
                          {% raw %}
                          selected="{{route}}" on-core-select="{{menuItemSelected}}"
                          {% endraw %}
                          icon="label-outline" label="{{ p.menu_name }}">
              {% for post in site.posts %}
              <paper-item hash="" noink>
                <core-icon icon="label"></core-icon>
                <a href="{{ post.url }}">{{ post.title }}</a>
              </paper-item>
              {% endfor %}
            </core-submenu>
              {% else %}
            <paper-item hash="{{ forloop.index }}"  url="{{ p.url }}" noink>
              <core-icon icon="label-outline"></core-icon>
              <a href="{{ p.url }}">{{ p.menu_name }}</a>
            </paper-item>
              {% endif %}
            {% endif %}
            {% if p.url == page.url %}
            {% assign selected_page = forloop.index %}
            {% endif %}
            {% endfor %}
          </core-menu>
        </nav>
        <core-toolbar tool flex>
          <div flex>{{ page.title }}</div>
          <a href="mailto:ian@ianmccall.codes"><core-icon style="color:white;" icon="communication:email"></core-icon></a>
          <a href="http://www.linkedin.com/in/ianmccallcodes" target="_blank"><core-icon style="color:white;" icon="social:person"></core-icon></a>
        </core-toolbar>
        <div layout horizontal center-center fit>
          {{ content }}
        </div>
      </core-scaffold>
    </template>
    
    <script type="text/javascript">
      (function(){
        var template = document.querySelector('template#main');
        var ajax, pages;

        template.addEventListener('template-bound', function(e) {
          pages = document.querySelector('#pages');
        })

        template.menuItemSelected = function(e, detail, sender) {
          console.log(e);
          console.log(detail);
          console.log(sender);
          if(detail.isSelected) {
            this.$ && this.$.scaffold.closeDrawer();
          }
        };

        template.onResponse = function(e, detail, sender) {
          var content = detail.response.querySelector('main.HolyGrail-content');
          console.log(detail);
          var html = content.innerHTML;
          this.injectBoundHTML(html, pages.selectedItem.firstElementChild);
        };

        template.menu_page = "{{ page.url }}"; //"{{ selected_page }}";

        window.ianmccallcodes = {
          main_template : template
        };
      })();
    </script>
    <script>
      (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
          (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

      ga('create', 'UA-29762064-2', 'auto');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');
    </script>
  </body>
</html>
